beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudscraper==1.2.60
Flask==2.1.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
lxml==4.8.0
MarkupSafe==2.1.1
pyparsing==3.0.8
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.3.2.post1
urllib3==1.26.9
Werkzeug==2.1.1
